@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Modak&display=swap');

@import url('components.css');
@import url('modals.css');

:root { /*theme colors*/
    --purple: #885784;
    --green: #82A899;
    --yellow: #C2AB42;
    --orange: #DD8D6E;
    --beige: #F0E8D1;
    --peach: #F2DAC6;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'EB Garamond', serif;
    padding-top: 50px; /* Space for fixed header */
}

header > h1 {
    font-family: 'Modak';
    color: var(--green);
    font-size: 1.5rem;
    margin: 0;
    font-weight: 100;
}

ul > li {
    list-style-type: none;
}

#buttons {
    display: flex;
    gap: 5em;
    margin-right: 3em;
}

#nav_bar {
    display: none;
}

header:first-of-type {
    margin: 0 auto;
    grid-area: header;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--beige);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
    padding: 0 20px;
    justify-content: space-between;
}

.container {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "header"
                         "title" 
                         "categories" 
                         "info" 
                         "end";
}

#title {
    grid-area: title;
    min-height: 400px;
    padding: 2rem;
    background-color: white; 
    align-content:center;
    justify-self: center;
}

#categories {
    grid-area: categories;
    min-height: 400px;
    padding: 2rem;
    background-color: var(--green); 
}

#info {
    grid-area: info;
    min-height: 400px;
    padding: 2rem;
    background-color: var(--beige); 
    align-content: center;
}

#end {
    grid-area: end;
    min-height: 400px;
    padding: 2rem;
    background-color: white; 
}

#title h2 {
    font-family: 'EB Garamond', serif;
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #333;
    line-height: 0.7;
    font-weight: 100;
}

#diff {
    font-style: italic;
}

#title p {
    font-family:'Cormorant Garamond', serif;
    font-size: 1.5rem;
    max-width: 600px;
    color: #555;
    line-height: 0.4;
}

#info > div {
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    width: 50%;
    height: 85%;
    margin-left: 25%;
}

.hidden {
    display: none !important;
}