@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Modak&family=Material+Icons&display=swap');

@import url('components.css');
@import url('modals.css');

:root {
    /*theme colors*/
    --purple: #885784;
    --green: #82A899;
    --yellow: #C2AB42;
    --orange: #DD8D6E;
    --beige: #F0E8D1;
    --peach: #F2DAC6;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'EB Garamond', serif;
    padding-top: 50px;
    /* Space for fixed header */
}

.artflow-text {
    font-family: 'Modak';
    font-weight: 100;
    font-size: 1.5rem;
}

header>h1 {
    color: var(--green);
    margin: 0;
}

ul>li {
    list-style-type: none;
}

#buttons {
    display: flex;
    gap: 5em;
    margin-right: 3em;
}

#nav_bar {
    display: none;
}

header:first-of-type {
    margin: 0 auto;
    grid-area: header;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--beige);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    justify-content: space-between;
    z-index: 1000;
}

.container {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "header"
        "title"
        "categories"
        "info"
        "end";
}

#title {
    grid-area: title;
    min-height: 600px;
    padding: 0;
    align-content: start;
    justify-self: start;
    transform: translateX(100%);
    margin-top: 3em;
}

#title h2 {
    font-family: 'EB Garamond', serif;
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    color: black;
    font-weight: 100;
}

#title p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    max-width: 600px;
    color: #555;
    line-height: 0.4;
    margin-left: 0.7em;
    margin-top: 0;
}

#boxes {
    position: relative;
    width: 100%;
    height: auto;
}

#boxes .box {
    position: absolute;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-color: #B08968;
    border-width: 7px;
    border-style: solid;
}

#box1 {
    background-color: var(--orange);
    top: -150px;
    left: 500px;
}

#box2 {
    background-color: var(--green);
    top: -50px;
    left: 600px;
}

#box3 {
    background-color: var(--yellow);
    top: 30px;
    left: 420px;
}


.flow-text {
    font-style: italic;
}

.hidden {
    display: none !important;
}

#info {
    grid-area: info;
    min-height: 600px;
    padding: 2rem;
    background-color: var(--yellow);
    align-content: center;
}

#info p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    max-width: 600px;
    color: #555;
    line-height: 1.4;
}

#info h2 {
    font-family: 'Modak', serif;
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    line-height: 0.7;
    font-weight: 100;
    margin-top: 0.5em;
}

#info>div {
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    width: 50%;
    height: 70%;
    margin-left: 25%;
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


#categories {
    grid-area: categories;
    min-height: 600px;
    padding: 2rem;
    background-color: var(--green);
    font-family: 'EDGaramond', serif;
    padding-bottom: 10em;
}

#categories h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    line-height: 0.7;
    font-weight: 50;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.7em;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100px;
    height: 100px;
    padding: 1rem;
    background-color: white;
    font-size: 1rem;
    font-weight: 100;
    text-align: start;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5em;
    margin-bottom: 1em;
}

#block>a {
    margin-left: 78%;
    color: white;
    text-decoration: underline;
}

#block {
    width: 40%;
    height: 100%;
    margin-left: 40%;
}

#end {
    box-sizing: border-box;
    grid-area: end;
    min-height: 400px;
    padding: 2rem;
    background-color: white;
    border-color: var(--green);
    border-width: 7px 0 0 0;
    border-style: solid;
}

#end h2 {
    font-family: 'Modak', serif;
    font-size: 3.5rem;
    line-height: 1.2;
    margin: 2rem;
    margin-bottom: 0;
    line-height: 0.7;
    font-weight: 100;
    color: var(--green);
}

#end-content {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 20em;
    padding: 2em;
    font-size: 1.1em;
}

.author,
.footer-link {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.1em;
    line-height: 1.7em;
}

#end h3 {
    margin-bottom: 0;
}

#end ul {
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

#end-footer {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 5em;
    padding: 1em;
    font-size: 1em;
    opacity: 0.6;
    padding-bottom: 0;
}