/* Profile Container Styles */
.profile {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-areas:
		"image info"
		"image bio";
	padding: 20px;
	margin-bottom: 20px;
	gap: 15px;
}

/* Profile Image Styles */
.profile .profile-img {
	grid-area: image;
	position: relative;
	margin-left: 4.68765em;
	margin-right: 2.8125em;
	margin-top: 4.68765em;
	align-self: start;
	flex-basis: 12.5em; /* Width of the image */
}

.profile .profile-img img {
	width: 12.5em;
	height: 12.5em;
	border-radius: 50%; /* Makes the image circular */
	object-fit: cover;
	border: 2px solid #ddd;
}

/* Profile Info Styles */
.profile .info {
	grid-area: info;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: calc(
		4.68765em + 0.5em
	); /* Added 0.5em to create slight offset from image top */
	align-self: flex-start;
	flex-basis: calc(
		100% - 20em
	); /* Take remaining width minus image and margins */
	margin-right: 20px;
}

.profile .info .name {
	font-family: Garamond, serif;
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
	color: #333;
}

.profile .info .username {
	font-family: Garamond, serif;
	font-size: 20px;
	font-weight: 400;
	color: #666;
	margin-bottom: 10px;
	/* Change to flex to place tag next to username */
	display: flex;
	align-items: center;
	gap: 10px; /* Add space between username and tag */
}

/* Tag Styles */
.profile .info .tag {
	padding: 5px 12px;
	border-radius: 20px;
	font-size: 14px;
	font-weight: 500;
	display: inline-block;
}

.profile .info .tag.admin {
	background-color: var(--green);
	color: var(--beige);
}

/* Bio Styles */
.profile #bio {
	grid-area: bio;
	margin-left: 0;
	margin-top: 0;
	padding-top: 0;
	align-self: start;
}

#bio-title {
	font-family: Garamond, serif;
	font-size: 20px;
	font-weight: 600;
	color: #636363;
	margin-bottom: 8px;
}

.bio-text {
	font-family: Garamond, serif;
	font-size: 16px;
	line-height: 1.5;
	color: #8a8a8a;
}

/* Tabs Styles */
.tabs {
	display: flex;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	margin-left: 4.68765em;
	margin-right: 4.68765em;
}

.tabs div {
	padding: 10px 20px;
	cursor: pointer;
	font-weight: 500;
}

.tabs div:hover {
	color: var(--green);
}

.space {
	height: 70em;
	width: 100%;
}
