/* Make the search icon vertically centered and positioned to the right in the top bar */
#search-icon-link {
    display: flex;
    align-items: flex-end;
    height: 100%;
    margin-top: 0.2em;
}

#search-icon {
    width: 1.2em;
    height: 1.2em;
    display: block;
    margin: 0 auto;
}

#buttons {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    justify-content: flex-end;
}

#menu {
    display: flex;
    align-items: center;
    height: 60px;
}


/* @media (max-width: 767px) {
    #search-icon {
        width: 2.5em;
        height: 2.5em;
    }
    #buttons {
        height: 50px;
    }
    #menu {
        height: 50px;
    }
} */