@media (max-width: 600px) {
    
}

@media (max-width: 1100px) {

    #categories > #block {
        margin: 0 auto; 
    }

    #categories h2 {
        margin-right: 3em !important; 
    }

    #block > a {
        margin-left: 85% !important;
    }


    .box {
        width: 48%; 
        height: 160px; 
    }

}


@media (max-width: 1300px) {


}