@media (max-width: 600px) {
    
}

@media (max-width: 1100px) {

    #categories > #block {
        width: 95%; 
        margin: 0 auto; 
    }

    #category-list{
        margin: 0 auto;
        transition: all 0.3s ease-in-out;
    }

    #categories h2 {
        margin-right: 5em !important; 
    }

    #block > a {
        margin-left: 80% !important;
    }


    .box {
        width: 48%; 
        height: 160px; 
    }

}


@media (max-width: 1300px) {


}