/* Responsive styles for service display */

@media (max-width: 768px) {
    #service-display {
        flex-direction: column;
        align-items: center;
    }

    #main-image {
        width: 90%;
        margin: 1em 0;
        padding: 0;
    }

    #service-checkout {
        width: 90%;
        margin: 1em 0;
    }

    #service-checkout h2 {
        font-size: 2rem;
    }

    #service-owner p {
        font-size: 1rem;
    }

    #service-info {
        width: 100%;
    }

    #price {
        font-size: 2rem;
        text-align: center;
        margin: 0.5em 0;
    }

    #service-imgs {
        flex-direction: row;
        overflow-x: auto;
        width: 80%;
        height: 5em;
        margin: 1em 0;
    }

    #service-imgs div {
        width: 7em;
        height: 5em;
    }

    #reviews {
        max-height: none;
        margin: 1em 0;
    }

    .review p {
        font-size: 1rem;
    }

    #service-main {
        width: 100%;
        overflow-y:hidden;
        background-color: blueviolet;
    }
}

@media (max-width: 1065px) {
    #service-delivery {
        height: auto;
    }

    #service-info {
        width: auto;
    }
}